<!--index.html-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Transaction Info</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<style>
		*{margin: 0; padding: 0;}

		#wrap {
			width: 1200px;
			height: 250px;
			margin: 0 auto;
		}

		#ocr {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}
		#bbox {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}
		#seg {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}
		#facelandmark {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}
		#pose {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}
		#none {
			width: 200px;
			height: 250px;
			float: left;
			text-align: center;
		}


	</style>

</head>
<body>
	<h3>Transaction 기본 정보</h3>
	<hr style="border: solid 1px black;">
	<h4>ID : {{ content_data['info']['transaction_id'] }}</h4>
	<h4>요청자 : {{ content_data['info']['name'] }}</h4>
	<h4>요청 일시 : {{ content_data['info']['create_timestamp'] }}</h4>
	<h4>업데이트 일시 : {{ content_data['info']['update_timestamp'] }}</h4>
	<h4>처리 상태 : {{ content_data['info']['status'] }}</h4>
	<h4>폴더 : {{ content_data['info']['folder'] }}</h4>
	<h4>데이터 수량 : {{ content_data['info']['number_of_data'] }}</h4>
	<br><br><br>

	<h3>데이터 분류 상세</h3>
	<hr style="border: solid 1px black;">
	<div id='wrap'>
		<div id='ocr'><h3>OCR</h3><br><h1>{{ content_data['result']['number_of_ocr'] }}</h1></div>
		<div id='bbox'><h3>BBOX</h3><br><h1>{{ content_data['result']['number_of_bbox'] }}</h1></div>
		<div id='seg'><h3>Segmentation</h3><br><h1>{{ content_data['result']['number_of_seg'] }}</h1></div>
		<div id='facelandmark'><h3>Facelandmark</h3><br><h1>{{ content_data['result']['number_of_facelandmark'] }}</h1></div>
		<div id='pose'><h3>Pose</h3><br><h1>{{ content_data['result']['number_of_pose'] }}</h1></div>
		<div id='none'><h3>None</h3><br><h1>{{ content_data['result']['number_of_none'] }}</h1></div>
	</div>
	<hr style="border: solid 1px black;">
	<div>
		<form action="{{ url_for(request.endpoint, **request.view_args) }}/list" method="post">
			<br />
			<h3>Domain 선택</h3>
			<hr style="border: solid 1px black;">
			<input type="checkbox" name="domain[]" value="0" />OCR<br />
			<input type="checkbox" name="domain[]" value="1" />Bounding Box<br />
			<input type="checkbox" name="domain[]" value="2" />Segmentation<br />
			<input type="checkbox" name="domain[]" value="3" />Facelandmark<br />
			<input type="checkbox" name="domain[]" value="4" />Pose<br />
			<input type="checkbox" name="domain[]" value="5" />None<br />
			<br /><br />
			<input type="submit" name="formSubmit" value="Submit" />
		</form>	
	</div>

<br>
<br>


</body>
</html>