<!--index.html-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Transaction Log</title>
    <H1>트랜젝션 로그</H1>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>


<br>
<br>
	<table class="table table-hover text-center" style=" width: 70%; border: 1px  solid #111114;">
		<thead>
			<tr>
				<th><center>ID</center></th>
				<th><center>요청자</center></th>
				<th><center>데이터셋 폴더명</center></th>
				<th><center>처리 상태</center></th>
                <th><center>요청 일시</center></th>
                <th><center>업데이트 일시</center></th>
				<th><center>Job ID</center></th>
			</tr>
		</thead>
	    
	    <tbody>
			{% for i in transaction_list %}
			<tr>
				<td><center>{{ i[0] }}</center></td>
				<td><center>{{ i[1] }}</center></td>
				<td><center>{{ i[2] }}</center></td>
				<td><center>{{ i[3] }}</center></td>
				<td><center>{{ i[4] }}</center></td>
                <td><center>{{ i[5] }}</center></td>
                <td><center>{{ i[6] }}</center></td>
			</tr>
			{% endfor %}
		</tbody>
		
	</table>

</body>
</html>